@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* HERO */
.container.hero {
  justify-content: space-between;
  padding: 20px;
}

.top-bar {
  width: 100%;
  justify-self: flex-start;
  justify-content: space-between;
}

.nav-bar ul {
  list-style-type: none;
  gap: 10px;
}

.nav-bar ul li a {
  font-weight: 500;
}

.hero-header.flex-row {
  /* flex: ; */
  justify-self: flex-end;
  gap: 50px;
  flex: 1;
  align-items: center;
}

.hero-text {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero-text h2 {
  letter-spacing: 1px;
  line-height: 1;
}

.hero-text p {
  letter-spacing: 1px;
  line-height: 1.6;
}

.hero-text button {
  justify-self: flex-end;
  align-self: flex-start;
  letter-spacing: 1px;
}

.hero-image {
  flex: 1;
  height: 60%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  letter-spacing: 1px;
  line-height: 1.6;
}

/* FEATURES */
.container.features {
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cards {
  width: 100%;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  height: 260px;
}

.card-img {
  width: 200px;
  height: 200px;
  border: 3px solid var(--secondary-color);
  border-radius: 5px;
}

.card p {
  letter-spacing: 2px;
}

/* Quote Section */
.quote-inner.container {
  width: 100%;
}

.quote {
  height: 100%;
  grid-template-rows: auto;
  align-content: center;
  gap: 20px;
}

.quote-top {
  font-style: italic;
  line-height: 1.2;
  letter-spacing: 1px;
}

.quote-bottom {
  font-size: 2rem;
  letter-spacing: 2px;
  justify-self: flex-end;
}

/* Call to action Section */

.cta-wrapper .container {
  align-items: unset;
  justify-content: center;
}

.cta-content {
  padding: 40px;
  justify-content: space-around;
  border-radius: 10px;
}

.cta-text {
  text-align: left;
}

.cta-text h2 {
  margin-bottom: 5px;
}

.cta-text p {
  font-size: 20px;
}

footer .container {
  height: 150px;
  font-style: italic;
}
